<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список элементов</title>
</head>

<body>

<h1>Список элементов:</h1>


<ul>
    <li th:each="element : ${UserList}">
        <span th:text="${element}"></span>
        <form th:action="@{'/user/contacts/' + ${element.getId()}}" method="get" style="display: inline-block;">
            <button type="submit" >Contact</button>
        </form>
        <form action="/user/delete" method="post" style="display: inline-block;">
            <button type="submit" th:attr="name='id', value=${element.getId()}">Delete</button>
        </form>
        <form action="/user/edit" method="get" style="display: inline-block;">
            <button type="submit" th:attr="name='id', value=${element.getId()}">Edit</button>
        </form>
    </li>
</ul>

<a href="/user/create" type="button" class="btn btn-primary">Create</a>
</body>
</html>