<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список элементов</title>
</head>
<body>

<h1>Edit Contact:</h1>
<form th:href="@{'/user/contacts/' + ${UserId} + '/create'}" method="post">
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone_number" th:value="${Contact}" required pattern="\+[0-9]{10}" title="Please enter a valid phone number (e.g., +1234567890)">
    </div>
    <button type="submit" th:attr="name='contact_id', value=${ContactId}">Edit</button>
</form>

<!--<a href="/user" type="button" class="btn btn-outline-primary btn-block mb-2">-->
<!--    Відмінити-->
<!--</a>-->
</body>
</html>