<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список элементов</title>
</head>
<body>

<h1>Edit User:</h1>
<form action="/user/edit" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${User.getMail()}" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:value="${User.getPassword()}" required>
    </div>
    <button type="submit" th:attr="name='id', value=${User.getUser_id()}">Edit</button>
</form>

<!--<a href="/user" type="button" class="btn btn-outline-primary btn-block mb-2">-->
<!--    Відмінити-->
<!--</a>-->
</body>
</html>